.tour_feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    &-img{
        margin-bottom: 10px;
        width: 75px;
        height: 75px;
    }
    &-name{
        margin-bottom: 10px;

        font-size: 16px;
        font-weight: normal;
        text-transform: capitalize;
    }
    &-value{
        font-size: 20px;
        text-transform: capitalize;
    }
}