.photos{
    position: relative;

    max-height: 600px;

    overflow: hidden;

    &-btn{
        z-index: 2;
        position: absolute;
        top: 0;
        bottom: 0;

        width: 100px;
        background-color: rgba(#3A4457, 0.3);

        color: rgba(#EEE, 0.7);
        font-size: 24px;

        cursor: pointer;
        transition: 0.3s;

        .fa{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
        }
        &:hover{
            background-color: rgba(#3A4457, 0.6);
        }
        &--left{
            left: 0px;
            box-shadow: 20px 0 20px rgba(#3A4457, 0.3);
            &:hover{
                box-shadow: 20px 0 20px rgba(#3A4457, 0.6);
            }
        }
        &--right{
            right: 0px;
            box-shadow: -20px 0 20px rgba(#3A4457, 0.3);
            &:hover{
                box-shadow: -20px 0 20px rgba(#3A4457, 0.6);
            }
        }
    }
    &-group{
        z-index: 1;
        position: absolute;
        top: 0; bottom: 0;

        width: 100%;
        height: 100%;
    }
    &-photo{
        display: inline-block;
        vertical-align: top;

        width: 100%;
        height: 100%;
        max-height: 600px;
    }
    .photo{
        transition: 0.3s;

        &--reviewing{
            opacity: 5;
        }
    }
}