.tour_list-container{
    padding: 50px 5% 50px 5%;
    //background-color: rgba(#C29D73, 0.6);
    &-tour{
        .tour{
            &-name{
                text-align: center;
            }
        }
    }
}
.tour_list{
    text-align: center;

    &-title{
        margin-bottom: 30px;

        //font-family: logo;
        font-size: 32px;
        font-weight: normal;

        &--tickets{
            margin-bottom: 0;

            font-size: 24px;
        }
        &--cost{
            font-size: 20px;
        }
        &--ordered_tickets{
            margin-bottom: 20px;
        }
    }
    
     // vertical toolbar and tour cards need to have the same width
    &-tours{
        display: inline-block;
        vertical-align: top;

        box-sizing: border-box;
        width: 75%;
    }
    &-toolbar{
        &--horizontal{
            margin-bottom: 20px;
        }
        &--vertical{
            display: inline-block;
            vertical-align: top;

            box-sizing: border-box;
            width: 25%;
            min-height: 100%;
        }
    }
    &-tour_card{
        margin: 0 0px 40px 0px;
        float: left;

        width: 33.3333%;
        
        text-align: right;

    }

    &--user{
        .tour_list-ticket_list{
            max-width: 700px;
            .ticket_list{
                &-ticket{
                    margin: 0 20px 20px 20px;
                    display: inline-block;
                    vertical-align: top;
                    cursor: default;
                    &:hover{
                        border-color: #3A4457;
                    }
                }
            }

        }
    }
    &--manager{
        text-align: left;
        .tour{
            margin-bottom: 50px;
        }
        .tour_list-title{
            margin-top: 0px;
            margin-bottom: 10px;
            text-align: left;
            &--cost{
                margin-bottom: 0px;
            }
            &--manager{
                margin-bottom: 50px;
                text-align: center;
            }
        }
        .tour_list-tour_card{
            margin: 0px;
        }
        .tour_list-users{
            display: block;
            &:not(:first-of-type){
                margin-top: 25px;
            }
        }
        .tour-card{
            display: inline-block;
            vertical-align: top;
        }
        .tour_list-user{
            margin-bottom: 25px;
            margin-bottom: 50px;
        }
        .tour_list-tickets{
            text-align: left;
        }
    }

    
    @media screen and (max-width: 1400px){
        &-toolbar--vertical{
            width: 25%;
        }
        &-tours{
            width: 75%;
        }
        &-tour_card{
            width: 33.3333%;
        }
    }
    
    @media screen and (max-width: 1200px){
        &-toolbar--vertical{
            width: 33.3333%;
        }
        &-tours{
            width: 66.6666%;
        }
        &-tour_card{
            width: 50%;
        }
    }
    @media screen and (max-width: 900px){
        &-toolbar--vertical{
            margin-bottom: 20px;

            width: 100%;
        }
        &-tours{
            width: 100%;
        }
        &-tour_card{
            width: 50%;

            text-align: center;
        }
    }
    @media screen and (max-width: 900px){
        &-toolbar--vertical{
            width: 100%;
        }
        &-tours{
            width: 100%;
        }
        &-tour_card{
            width: 100%;

            text-align: center;
        }
    }
}